{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="box-wrapper span9">
                <div class="row">

                </div>

                <div class="row">
                    <div class="box-content-widget span9">
                        <div class="row">
                            <div class="title bg-title span9">
                                <h3> Adresses : Le Maque-Do</h3>
                            </div>
                        </div>
                        <div class="widget">
                            <div class="widget-content-pd">
                                <p class="ct-img"><a href="#"><img src="assets/img/imgdomac.jpg"></a></p>
                                <p>Un petit resto très sympa que j'ai recemment découvert tout près de chez nous ! De la cuisine maison, que des produits congelés et avec de la change une petite gastro qui fait du bien. Des tarifs très attractifs (heureusement vu le gout) le tout servi rapidement 
                                    et avec une grande amabilité (ou pas).</p>
                                <p class="ct-img"><a href="#"><img src="assets/img/macdo.jpg"></a></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>




                                <div class="box-message">
                                    <h3 class="title">Vos avis : (11 Commentaires)</h3>
                                    <ul class="box-message-content">
                                        <li>
                                            <a class="avatar-comment span1" href="#">
                                                <img src="assets/img/cm-1.jpg">
                                            </a>
                                            <div class="message-wrapper span6">
                                                <div class="text-message">
                                                    <a href="#">
                                                        jay vomi
                                                    </a>
                                                    <span class="comment-data">
                                                        Apr 16th at 4:49pm
                                                    </span>
                                                    <span class="comment-text-wrap">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ....
                                                    </span>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="avatar-comment span1" href="#">
                                                <img src="assets/img/cm-3.jpg">
                                            </a>
                                            <div class="message-wrapper span6">
                                                <div class="text-message">
                                                    <a href="#">
                                                        cétépabon
                                                    </a>
                                                    <span class="comment-data">
                                                        Apr 16th at 4:49pm
                                                    </span>
                                                    <span class="comment-text-wrap">
                                                        j'ai vomi que deux fois ! a refaire ! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ...
                                                    </span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                    <div class="box-add-comment">
                                        <div>
                                            <div class="avatar-comment span1" href="#">
                                                <img src="assets/img/avatar-cm.png">
                                            </div>

                                            <div class="message-wrapper span6">
                                                <form class="form-comment">
                                                    <input type="text">
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <button class="view-more border-rd4">Voir plus de commentaires stupides !</button>
                                    </div>
                                </div><!-- box-message -->

                            </div>
                        </div><!-- widget -->
                    </div><!-- box-content-widget -->
                </div><!-- row -->
            </div><!-- end body-content -->

            <div class="sidebar-content span3">

                <div class="row">
                    <div class="box-wrapper span3">
                        <div class="row">
                            <div class="title bg-title span3">
                                <h3>Autres Evenements</h3>
                            </div>
                        </div>
                        <ul class="thumbnails thumbnails-horizontal">
                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/pj1.jpg">
                                    </div>
                                    <h5><a href="detail.html">Le restaurant de la fille en rouge</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Restaurants</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                                    </p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/laser.jpg">
                                    </div>

                                    <h5><a href="detail.html">Laser game Montivilliers</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Divertissements</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                                    </p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/patinoire.jpg">
                                    </div>

                                    <h5><a href="detail.html">La trop bien</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Divertissements</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div><!-- end thumbnails-style1 -->
                </div><!-- row -->

            </div><!-- end sidebar-content -->
        </div><!-- row -->
    </div><!-- end container -->


{% endblock %}