{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="main">
        <div class="container">
            <div class="box-wrapper ">
                
                <div class="box-content-widget ">
                    <div class="widget">
                        <div class="widget-content">
                            <div class="title">
                                <h3><a href="{{ path('cci_community_annonces_evenements_detail', {'id': id})}}">Le Trop cool</a></h3>
                                <div class="desc">
                                    Posted by: <a href="#">jane doe</a> | Posted on: 
                                    <strong>April 6th, 2011</strong> | 
                                    <a href="blog.html">12 Comments</a>
                                </div>
                            </div>
                            <p class="ct-img"><a href="{{ path('cci_community_annonces_evenements_detail', {'id': id}) }}"><img src="assets/img/macdo.jpg"></a></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div><!-- widget -->
                </div><!-- box-content-widget -->
                
            </div>
        </div><!-- end container -->
    </div>

{% endblock %}