{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="main">
        <div class="container">
            <div class="row">
                <!--<div class="box-wrapper span12">
                        <div class="widget">
                                <div class="wrapper-search">
                                        <form class="form-inline form-search border-rd4">
                                                <input placeholder="Type somethings to search .." type="text" class="box-text">
                                                <a href="#"class="btn-search"></a>
                                        </form>
                                </div>
                        </div>
                </div><!-- end box-wrapper -->
            </div>
            <!-- **************** start All Flie  ****************** -->
            <div class="box-wrapper ">
                <div class="row">
                    <div class="title ">
                        <h3 class="pull-left">Vie de Classe</h3>
                        <div class="sort pull-right dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Most Viewed
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-tag"></i>By Name</a></li>
                                <li><a href="#"><i class="icon-list"></i>List</a></li>
                                <li><a href="#"><i class="icon-eye-open"></i>View</a></li>
                            </ul>
                        </div>
                    </div><!-- end title -->
                </div>
                <div class="row" style="padding-bottom:1%; padding-top:1%;">
                    <div class="span10">
                        <a href="#">
                            <div class="btn-blue-s5" style="border-radius:5px; text-align:center; margin:0; padding:5px; font-family:Arial; font-size:1.1em;">Ajouter un Element</div>
                        </a>
                    </div>
                </div>
                <ul class="thumbnails thumbnails-vertical">
                    <li class="span5">

                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a style="display: none;" class="overlay" href="detail_vdc.html">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img style="opacity: 1;" class="border-radius-top" src="assets/img/project/pj1.jpg">

                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail_vdc.html">Vive Houdoin</a></h5>
                                <p>
                                    *Cravache party<br>
                                    *01/05/2014 23:30-05:00<br>
                                    ◈ 1 SHOOTER offerts aux 100 premiers arrivants !<br>
                                    ◈ 2 DJ'S:<br>
                                    Warm Up : Dj Bes (Résident) ...<br>
                                </p>
                                <h6><a href="#">[Read more]</a></h6>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Evenement</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>13</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail_vdc.html">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img class="border-radius-top" src="assets/img/project/pj2.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail_vdc.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                                <h6><a href="#">[Read more]</a></h6>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Vie de Classe</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a style="display: none;" class="overlay" href="detail_vdc.html">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img style="opacity: 1;" class="border-radius-top" src="assets/img/project/pj3.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail_vdc.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                                <h6><a href="#">[Read more]</a></h6>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Annonce</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail_vdc.html">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img class="border-radius-top" src="assets/img/project/pj4.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail_vdc.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                                <h6><a href="#">[Read more]</a></h6>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Spotted</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>

                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail_vdc.html">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img class="border-radius-top" src="assets/img/project/pj5.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail_vdc.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                                <h6><a href="#">[Read more]</a></h6>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Adresse</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>

                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a class="overlay" href="detail_vdc.html">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img class="border-radius-top" src="assets/img/project/pj6.jpg">
                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="detail_vdc.html">Lorem ipsum dolor sit amet ... </a></h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.
                                </p>
                                <h6><a href="#">[Read more]</a></h6>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Lien Utile</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="navigation pagination pull-right">
                    <ul>
                        <li><a href="#">←</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">→</a></li>
                    </ul>
                </div><!-- end navigation -->
            </div><!-- end  -->

            <!-- **************** end All Flie  ****************** -->
        </div><!-- row -->
    </div>

{% endblock %}