{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="main">
       
        <div class="container">
             <div class="row">
                    <div class="title span10">
                        <h3 class="pull-left">Vie de classe</h3>
                    </div><!-- end title -->
                </div>
            
            <div class="box-wrapper ">
                <div class="row">   
                </div>
                <div class="row" style="padding-bottom:1%; padding-top:1%;">
                    <div class="span10">
                        <a href="{{path('cci_community_base_ajouter_vdc',{'type':'vdc'})}}">
                            <div class="btn-blue-s5" style="border-radius:5px; text-align:center; margin:0; padding:5px; font-family:Arial; font-size:1.1em;">Ajouter un Element</div>
                        </a>
                    </div>
                </div>
                <ul class="thumbnails thumbnails-vertical">
                    
                    
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a style="display: none;" class="overlay">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img style="opacity: 1;" class="border-radius-top" src="assets/img/project/pj1.jpg">

                            </div>
                            <div class="thumbnail-content-left">
                                <h4>Vive Houdoin</h4>
                                <p>
                                    <br>
                                    *Cravache party<br>
                                    *01/05/2014 23:30-05:00<br>
                                    ◈ 1 SHOOTER offerts aux 100 premiers arrivants !<br>
                                    ◈ 2 DJ'S:<br>
                                    Warm Up : Dj Bes (Résident) ...<br>
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <h6><a href="{{ path('cci_community_base_vdc_detail', {'id': id}) }}">Lire le reste . . .</a></h6>
                        </div>
                    </li>
                    
                    
                </ul>
                <div class="navigation pagination pull-right">
                    <ul>
                        <li><a href="#">←</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">→</a></li>
                    </ul>
                </div><!-- end navigation -->
            </div><!-- end  -->

            <!-- **************** end All Flie  ****************** -->
        </div><!-- row -->
    </div>

{% endblock %}