{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="main">
        <div class="container">
            <div class="row">
                <!--<div class="box-wrapper span12">
                        <div class="widget">
                                <div class="wrapper-search">
                                        <form class="form-inline form-search border-rd4">
                                                <input placeholder="Type somethings to search .." type="text" class="box-text">
                                                <a href="#"class="btn-search"></a>
                                        </form>
                                </div>
                        </div>
                </div><!-- end box-wrapper -->
            </div>
            <!-- **************** start All Flie  ****************** -->
            <div class="box-wrapper ">
                <div class="row">
                    <div class="title ">
                        <h3 class="pull-left">Vie de Classe</h3>
                    </div><!-- end title -->
                </div>
                <ul class="thumbnails thumbnails-vertical">
                    
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a style="display: none;" class="overlay" href="#" >
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img style="opacity: 1;" class="border-radius-top" src="#">

                            </div>
                            <div class="thumbnail-content-left">
                                <h5><a href="#">Vive Houdoin</a></h5>
                                <p>
                                    *Cravache party<br>
                                    *01/05/2014 23:30-05:00<br>
                                    ◈ 1 SHOOTER offerts aux 100 premiers arrivants !<br>
                                    ◈ 2 DJ'S:<br>
                                    Warm Up : Dj Bes (Résident) ...<br>
                                </p>
                                <h6><a href="{{ path('cci_community_base_vdc_detail', {'id': id})}}">[Read more]</a></h6>
                            </div>
                        </div>
                        <!--<div class="box border-radius-bottom">
                            <p>
                                <span class="title_torrent pull-left">Evenement</span>
                                <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>13</span>
                            </p>
                        </div>-->
                    </li>
                    
                </ul>
                <div class="navigation pagination pull-right">
                    <ul>
                        <li><a href="#">←</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">→</a></li>
                    </ul>
                </div><!-- end navigation -->
            </div><!-- end  -->

            <!-- **************** end All Flie  ****************** -->
        </div><!-- row -->
    </div>

{% endblock %}