{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="title bg-title span12">
                        <h3>Liens Utiles</h3>
                    </div>
                </div>
                <div class="row" style="padding-bottom:1%; padding-top:1%;">
                    <div class="span12">
                        <a href="{{path('cci_community_base_form_redaction',{'type':'lien'})}}">
                            <div class="btn-blue-s5" style="border-radius:5px; text-align:center; margin:0; padding:5px; font-family:Arial; font-size:1.1em;">Ajouter un Element</div>
                        </a>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-content">
                        <h3 class="title"><a href="http://youpomm.com/">You Pomm</a></h3>
                        <p>							
                            Une petite pause gourmande ?
                        </p>
                    </div>

                    <div class="widget-content">
                        <h3 class="title"><a href="http://facebook.com/">Devoirs.com</a></h3>
                        <p>							
                            Aide aux devoirs
                        </p>
                    </div>

                    <div class="widget-content">
                        <h3 class="title"><a href="http://9gag.com/">9Gag</a></h3>
                        <p>							
                            Tout pour la culture !
                        </p>
                    </div>
                    <div class="widget-content">
                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Ne surtout pas cliquer ce lien</a></h3>
                        <p>							
                            J'aurais prévenu !
                        </p>
                    </div>
                </div>
            </div><!-- end span12 -->

        </div><!-- row -->
    </div><!-- end container -->
{% endblock %}