{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="title bg-title span12">
                        <h3>Liens Utiles</h3>
                    </div>
                </div>
                <div class="widget">
                    
                    <div class="widget-content">
                        <h3 class="title"><a href="http://youpomm.com/">You Pomm</a></h3>
                        <p>							
                            Une petite pause gourmande ?
                        </p>
                    </div>
                    
                </div>
            </div><!-- end span12 -->

        </div><!-- row -->
    </div><!-- end container -->
{% endblock %}